@font-face {
  font-family: 'Sanchez', sans-serif;
  src: url("../../base/fonts/Sanchez/Sanchez-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sanchez', sans-serif;
  src: url("../../base/fonts/Sanchez/Sanchez-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("../../base/fonts/Sen/Sen-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("../../base/fonts/Sen/Sen-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("../../base/fonts/Sen/Sen-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
