// TODO download font and add it
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("../../base/fonts/Sen/Sen-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("../../base/fonts/Sen/Sen-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("../../base/fonts/Sen/Sen-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
