@use '../../settings';
@use '../../tools';

.knowledge-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  row-gap: 2rem;

  @include tools.lg {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--bg-base);
    box-shadow: settings.$shadow;

    &:hover {
      box-shadow: settings.$shadow-lighten;
    }
  }
}


