@use '../settings';
@use 'fonts';
@use 'shape';
@use 'spacing';
@use 'animations';

/* BACKGROUNDS */
.bg-brand {
  background-color: var(--primary);
}

.flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

