:root {
  --primary: #FECD4F;
  --softPrimary: "#FFE299";
  --titles: #3f3f3f;
  --disabled: #FFE39C;
  --outline: darken(var(--primary), 10);
  --texts: #4F4F4F;
  --texts-bold: #4F4F4F;
  --bg-base: #f6f6f6;
  --placeholder: lighten(#4F4F4F, 5);
  --textsHighlightColor: #ca9100;

  /* States */
  --error: #DD6E6E;
  --success: #7DDD6E;

  @media (prefers-color-scheme: dark) {
    --bg-base: #252525;
    --texts: #dddddd;
    --texts-bold: #e3e3e3;
    --titles: #d9d9d9;
    --outline: darken(var(--primary), 20);
  }
}


