$brand: #FECD4F;
$titles: #4E4E4E;
$disabled: #FFE39C;
$outline: darken($brand, 10);
$texts: #4F4F4F;
$bg-base: #f6f6f6;
$placeholder: lighten(#4F4F4F, 5);

/* States */
$error: #DD6E6E;
$success: #7DDD6E;

