@forward "colors";
@forward "shadows";


$border-radius-1: 10px;
$width-for-readers: clamp(20rem, 70%, 70ch);

$z-index-background: 1;
$z-index-content: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-modal: 5;
